<!DOCTYPE html>
<html ng-app="avdlApp">
  <head>
    <title>{% block title %}Magic{% endblock %}</title>
    <meta charset="utf-8">
    <!-- stylesheets -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/avdl.css">
    <!-- scripts -->
    <script type="text/javascript" src="static/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/angular-1.4.5.min.js"></script>
    <script type="text/javascript" src="static/avdl.js"></script>
  </head>
  <body ng-controller="avdlController">
{% block content %}
{% endblock %}
  </body>
</html>

