{%- extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h2>Hello. :-)</h2>
      <br />
      <form role="form" ng-submit="enqueue()">
        <p>Enter a Youtube URL:
          <input type="text" name="yturl" size=40 ng-model="yturl" class="form-control" placeholder="https://www.youtube.com/..." />
          <input type="submit" value="Get!" class="btn btn-lg btn-default"/>
          <br />
          What would you like?
          <input type='radio' name='component' value='audio' checked=''/>Just Audio
          <input type='radio' name='component' value='video' disabled=''/>Video + Audio
        </p>
      </form>
    </div>

    <h3>Queued Downloads</h3>
    <table class="table table-striped">
      <thead><tr>
        <th>Submitted</th>
        <th>Job ID</th>
        <th>Requested URL</th>
        <th>Job Status</th>
      </tr></thead>
      <tbody>
      {% raw %}
        <tr ng-repeat="job in jobs">
          <td>{{ job.submitted }}</td>
          <td><a href="{{ job.results_url }}">{{ job.job_id }}</a></td>
          <td><a href="{{ job.request_url }}">{{ job.request_url }}</a></td>
          <td style="text-transform: capitalize">{{ job.status }}</td>
        </tr>
      {% endraw %}
      </tbody>
    </table>

    <h3>Completed Downloads</h3>
    <table class="table table-striped">
      <thead><tr>
        <th>Name</th>
        <th>Downloaded At</th>
        <th>File Size (Bytes)</th>
      </tr></thead>
      <tbody>
      {% raw %}
        <tr ng-repeat="file in downloaded">
          <td><a href="{{ file.url }}">{{ file.name }}</a></td>
          <td>{{ file.modified }}</td>
          <td>{{ file.size }}</td>
        </tr>
      {% endraw %}
        <!--<tr>
          <td><i>Looks like there isn't anything here yet. Try downloading something using the search box, above.</i></td>
          <td></td>
          <td></td>
        </tr>-->
      </tbody>
    </table>
  </div>
{%- endblock %}
